body {
  font-family: "Mogra";
  font-weight: lighter;
  background: radial-gradient(
    1100px at 50% 50%,
    rgba(1, 30, 74) 72%,
    rgb(255, 255, 249, 0.8) 25%
  );
}

h1 {
  color: rgb(249, 220, 173);
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.separator {
  color: #ffffff;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 80;
  line-height: 24px;
}

li:first-letter {
  text-transform: capitalize;
}

#cel-link {
  color: blanchedalmond;
}
#far-link {
  color: pink;
}

#feels-cel-link,
#feels-far-link {
  cursor: default;
  text-decoration: none;
}

#feels-celcius-icon {
  color: blanchedalmond;
  font-size: 15px;
}

#feels-far-icon {
  color: pink;
  font-size: 15px;
}

.weather-app {
  background-color: rgb(126, 171, 213);
}

.weather-app #entered-city {
  color: rgb(163, 161, 161);
}

.weather-app #button {
  background-color: #425e8d;
  border-color: #425e8d;
}

.weather-app #separator {
  color: #ffffff;
}

.weather-app #feels-like-separator {
  color: #ffffff;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(249, 220, 173);
  cursor: default;
  text-decoration: none;
}
.weather-temperature.active:hover {
  text-decoration: none;
}

.coder-details {
  color: rgb(163, 161, 161);
}
.github-lik {
  color: rgb(126, 171, 213);
}
